/* =====
Home
===== */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);

  .main-content {
    background-color: #fff;
    min-height: 80vh;
    width: 60%;
    @media (max-width: 1200px) {
      width: 95%;
    }
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 1.5rem;
    backdrop-filter: blur(3rem);
    z-index: 2;
  }

  .circle1,
  .circle2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    position: absolute;
    border-radius: 50%;
  }

  .circle1 {
    width: 15rem;
    height: 15rem;
    top: 5%;
    right: 30%;
  }

  .circle2 {
    width: 20rem;
    height: 20rem;
    bottom: 15%;
    left: 10%;
  }
}