/*=====
Variables
=====*/
:root {
    // fonts
    // english font
    --english-font-family: 'Poppins', sans-serif;

    // colors
    --main-color: #6aafe6;
    --dark-color: #505c66;
    --black-color: #111111;
    --white-color: #ffffff;
    --orange-color: #f15a28;
    --info-color: #4A4DE6;
    --sky-color: #c3dff5;
    --sky-1-color: #d2e7f7;
    --sky-2-color: #eaf3fa;
    --success-color: #95f27e;
    --success-1-color: #e0f9e1;
    --danger-color: #e95f80;
    --danger-1-color: #ffe5ee;
    --secondary-color: #abbac6;
    --secondary-1-color: #e9eff4;
    --secondary-2-color: #f9f9f9;
    --pink-color: #fe3a7c;
    --warning-color: #ff9655;
}