/* =====
Sidebar
===== */

.sidebar {
  padding-top: 40px;
  text-align: center;
  min-height: 80vh;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;

  .my-image {
    img {
      object-fit: contain;
      object-position: top;
    }
  }

  .name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-color);
    opacity: 0.8;
  }

  .job-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    opacity: 0.6;
  }

  ul.main-menu {
    margin-top: 50px;

    li {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      a {
        position: relative;
        display: block;
        width: max-content;
        font-size: 20px;
        font-weight: 500;
        color: var(--main-color);
        opacity: 0.7;

        &:hover {
          opacity: .8;

          &::before {
            width: 100%;
          }
        }

        &.active {
          opacity: 0.9;
          &::before {
            width: 100%;
          }
        }

        &::before {
          position: absolute;
          content: "";
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background: linear-gradient(to right top, #65dfc9, #6cdbeb);
          border-radius: 2000px;
          transition: 0.3s;
        }
      }
    }
  }
}