/*=====
Variables
=====*/

:root {
  // colors
  --main-color: #426696;
  --dark-color: #495057;
  --secondary-color: #878a99;

  --success-color: #4CBC9A;
  --danger-color: #FF3A29;
  --info-color: #4A4DE6;
  --warning-color: #ff9655;

  // background colors
  --primary-bg: #d8edf9;
  --success-bg: #d3f1ed;
  --warning-bg: #fef2df;
  --danger-bg: #ffd1d1;
  --secondary-bg: #dde0ea;
  --sky-bg: #f3f3f9;
}